/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  display: flex;
  flex-direction: column;
}

#preview-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  width: 100%;
  height: auto;
  display: block;

  border-radius: var(--border-radius-small);
  border: 1px solid var(--border-color-deemphasized);
  min-width: 0;
  min-height: 10em;
  max-height: 250px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-indicator {
  -moz-context-properties: fill;
  fill: currentColor;
}

#stop-preview-button {
  align-self: flex-end;
  margin-inline-start: auto;
  margin-top: var(--space-small);
}

/* Keep the hidden attribute working even when custom display value was set. */
[hidden] {
  display: none !important;
}
