/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import "chrome://global/skin/global.css";

#flag-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

#location-icon {
  height: var(--icon-size);
  width: var(--icon-size);
  pointer-events: none;
}
