/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import "chrome://global/skin/global.css";

#ipprotection-content-wrapper {
  display: flex;
}

#upgrade-vpn-content {
  display: flex;
  flex-direction: column;
  padding: var(--space-small) var(--space-large);
}

#upgrade-vpn-title {
  margin: 0;
}

#upgrade-vpn-button {
  align-self: end;
}

#signed-out-vpn-content {
  display: flex;
  flex-direction: column;
  padding: var(--space-medium) var(--space-large) var(--space-small);
}

#sign-in-vpn {
  align-self: end;
}

@media (prefers-color-scheme: dark) {
  #signed-out-vpn-img {
    content: url("chrome://browser/content/ipprotection/assets/ipprotection-darkmode.svg");
  }
}
