/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.widgets-container {
  &:has(.lists),
  &:has(.focus-timer) {
    display: grid;
    border: 1px solid var(--border-color-card);
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-large);
    width: 100%;
  }
}
