/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

:root {
  --content-width-offset: 340px;
  --table-width: calc(100vw - var(--content-width-offset));
}

body {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.category .category-name {
  pointer-events: none;
}

.category {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.main-content {
  flex: 1;
}

#tag-pings:invalid + label > span {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  color: var(--text-color-error);
}

#feedback {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  bottom: var(--space-medium);
}

#log-pings {
  vertical-align: text-top;
  margin-inline-end: 0;
}

#metrics-table-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#metrics-table {
  width: var(--table-width);
}

#metrics-table table {
  width: var(--table-width);
}

#metrics-table table td {
  vertical-align: middle;
}

#metrics-table-instance {
  max-height: calc(100vh - 205px);
  overflow-y: scroll;
}

td[data-d3-cell="actions"] > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

td[data-d3-cell="value"] > pre {
  background-color: var(--background-color-box);
  padding: 5px;
  border-radius: var(--border-radius-small);
  overflow-x: scroll;
  width: fit-content;
}
