/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * tsu-results.rf.gd - Table headers are not angled and don't align properly.
 *
 * Bug #1911243 - https://bugzilla.mozilla.org/show_bug.cgi?id=1911243
 * WebCompat issue #139668 - https://webcompat.com/issues/139668
 *
 * The site itself is intentionally "breaking" things by changing their CSS on Firefox,
 * presumably because older versions of Firefox didn't support something they relied on.
 * Here we undo that change.
 */
@-moz-document url-prefix() {
  .sortable th {
    text-align: unset;
    transform: skew(-45deg) rotate(-180deg) matrix(1.3, 0.6, 0.2, 1, -69, 10);
    vertical-align: unset;
  }
  .sortable td {
    text-align: unset;
  }
}
